<br><br>
<div class="detailDivProductName"  
  *ngIf="productInfo.categoryType!=0">
  <div class="detailDivProductNameStyle">
    {{productInfo?.productName}}</div>
  <div class="detailDivProductNameLinija"></div>
</div>
<br><br>
<div class="row text-center justify-content-center">
  <div class="col-sm-10 ">
    <div class="card mb-4 ">

      <!-- Kartica ukoliko nije takos -->
      <div class="card mb-4 mx-auto karticaGlavniDiv" *ngIf="productInfo.categoryType!=0">
        <img class="card-img-top karticaSlika" src="{{productInfo?.productIcon}}"
          *ngIf="productInfo.categoryType!=0">
        <div class="row">
          <div class="col-md-6">
            <div class="karticaIme">
              {{productInfo.productName}}
            </div>
          </div>
          <div class="col-md-6">
            <div class="karticaCena">
              <div class="karticaCenaStyle">
                {{productInfo.productPrice}}<span>&nbsp;DIN</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Kraj kartice ukoliko nije takos -->

      <!-- Pocetak glavnog dela -->
      <div class="card-body">

        <!-- Odaber meso tekst -->
        <div class="statickiTekstDiv" *ngIf="productInfo.categoryType==0">
          <div class="statickiTekst">
            Odaberi meso
          </div>
          <div class="statickiTekstLinija"></div>
        </div>

        <!-- Pocetak forme -->
        <form name="form" #form='ngForm' (ngSubmit)="productInfo?.productStatus == 0 && addToCart()">
          <div class="text-left">
            <input hidden name="productId" [value]=productInfo?.productId>
            <br>

            <!-- Meso -->
            <div class="pocetakReda row" *ngIf="productInfo.categoryType==0">
              <!-- Piletina -->
              <div class="colStyle">
                <div class="mesoImg" style="background-image: url('assets/Meso/Piletina.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Marinirana piletina</div>
                    <div class="colInfoAction">
                      <button type="button" class="decrementerIncrementer" (click)="decrementPiletina()">-</button>
                      <input [(ngModel)]="mariniranaPiletina" (ngModelChange)="updateSumMesa()" type="number"
                        name="mariniranaPiletina" required min="0" max="3" readonly>
                      <button type="button" class="decrementerIncrementer" (click)="incrementPiletina()">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Junetina -->
              <div class="colStyle">
                <div class="mesoImg" style="background-image: url('assets/Meso/Junetina.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Mlevena junetina</div>
                    <div class="colInfoAction">
                      <button type="button" class="decrementerIncrementer" (click)="decrementJunetina()">-</button>
                      <input [(ngModel)]="mlevenaJunetina" (ngModelChange)="updateSumMesa()" type="number"
                        name="mlevenaJunetina" required min="0" max="3" readonly>
                      <button type="button" class="decrementerIncrementer" (click)="incrementJunetina()">+</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Kobasica -->
              <div class="colStyle" >
                <div class="mesoImg" style="background-image: url('assets/Meso/Kobasica.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Rostilj kobasica</div>
                    <div class="colInfoAction">
                      <button type="button" class="decrementerIncrementer" (click)="decrementKobasica()">-</button>
                      <input [(ngModel)]="rostiljKobasica" (ngModelChange)="updateSumMesa()" type="number"
                        name="rostiljKobasica" required min="0" max="3" readonly>
                      <button type="button" class="decrementerIncrementer" (click)="incrementKobasica()">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <!-- Drugi red -->
            <div class="pocetakReda row" *ngIf="productInfo.categoryType==0">
              <!-- Chicken nuggets -->
              <div class="colStyle">
                <div class="mesoImg" style="background-image: url('assets/Meso/Nuggets.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Chicken nuggets</div>
                    <div class="colInfoAction">
                      <button type="button" class="decrementerIncrementer" (click)="decrementNuggets()">-</button>
                      <input [(ngModel)]="chickenNugets" (ngModelChange)="updateSumMesa()" type="number"
                        name="chickenNugets" required min="0" max="3" readonly>
                      <button type="button" class="decrementerIncrementer" (click)="incrementNuggets()">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Cordon bleu -->
              <div class="colStyle" >
              <div class="mesoImg" style="background-image: url('assets/Meso/Cordon.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Cordon bleu</div>
                    <div class="colInfoAction">
                      <button type="button" class="decrementerIncrementer" (click)="decrementCordon()">-</button>
                      <input [(ngModel)]="cordonBleu" (ngModelChange)="updateSumMesa()" type="number" name="cordonBleu"
                        required min="0" max="3" readonly>
                      <button type="button" class="decrementerIncrementer" (click)="incrementCordon()">+</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- falafel -->
              <div class="colStyle">
                <div class="mesoImg" style="background-image: url('assets/Meso/Falafel.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Falafel</div>
                    <div class="colInfoAction">
                      <button type="button" class="decrementerIncrementer" (click)="decrementFalafel()">-</button>
                      <input [(ngModel)]="falafel" (ngModelChange)="updateSumMesa()" type="number" name="falafel"
                        required min="0" max="3" readonly>
                      <button type="button" class="decrementerIncrementer" (click)="incrementFalafel()">+</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div *ngIf="productInfo.productId == 'T0001'" class="mesoGreska">*Odaberi meso</div>
            <div *ngIf="productInfo.productId == 'T0002'" class="mesoGreska">*Odaberi 2 vrste mesa</div>
            <div *ngIf="productInfo.productId == 'T0003'" class="mesoGreska">*Odaberi 3 vrste mesa</div>
            <br><br>
            <!-- Zavrsetak mesa -->
            <!-- Besplatni sos tekst-->
            <div class="statickiTekstDiv"*ngIf="productInfo.categoryType != 2">
              <div class="statickiTekst">Besplatni sos</div>
              <div class="statickiTekstLinija"></div>
            </div>
            <br><br>
            <!-- Besplatni sos -->
            <!-- Priv red -->
            <div class="pocetakReda row" *ngIf="productInfo.categoryType != 2">
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/NinjaBlend.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Ninja blend</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Ninja_Blend">
                    </div>
                  </div>
                </div>
              </div>

              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/SaharaSosJPG.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Texas barbecue</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Texas_Barbecue">
                    </div>
                  </div>
                </div>
              </div>


              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/Sahara.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Sahara</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Sahara">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- drugi red -->
            <div class="pocetakReda row" *ngIf="productInfo.categoryType != 2">
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/NinjaBlend.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Siracha</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Siracha">
                    </div>
                  </div>
                </div>
              </div>

              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/SaharaSosJPG.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Seville</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Seville">
                    </div>
                  </div>
                </div>
              </div>


              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/Sahara.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Barbecue</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Barbecue">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <!-- Treci red -->
            <div class="pocetakReda row" *ngIf="productInfo.categoryType != 2">
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/NinjaBlend.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Kari sos</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Kari">
                    </div>
                  </div>
                </div>
              </div>

              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/SaharaSosJPG.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Kecap</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Kecap">
                    </div>
                  </div>
                </div>
              </div>


              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/Majonez.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Majonez</div>
                    <div class="colInfoAction">
                      <input class="round-checkbox" type="radio" [(ngModel)]="besplatniSos" name="besplatniSos"
                        value="Majonez">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <br><br><br>


            <!-- Ekstra sosevi -->
            <div *ngIf="productInfo.categoryType == 0" class="statickiTekstDiv">
              <div class="statickiTekst">Extra sosevi</div>
              <div class="statickiTekstLinija"></div>
            </div>
            <br><br>
            <!-- Prvi red extra sosa -->
            <div class="pocetakReda row"
              *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <!-- Extra sos ninja blend -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/NinjaBlend.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle"><div class="colInfoNaziv">Ninja Blend&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="ninjaBlend" class="round-checkbox" type="checkbox" name="ninjaBlend"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra sos texas bbq -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/SaharaSosJPG.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Texas Barbecue&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="texasBbq" class="round-checkbox" type="checkbox" name="texasBbq"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra sos sahara -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/Sahara.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">Sahara&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="sahara" class="round-checkbox" type="checkbox" name="sahara"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- drugi red extra sosa -->
            <div class="pocetakReda row"
              *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <!-- Extra siracha -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/SaharaSosJPG.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Siracha&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="siracha" class="round-checkbox" type="checkbox" name="siracha"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra sevile -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/Sahara.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Seville&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="seville" class="round-checkbox" type="checkbox" name="seville"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra barbecue  -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/Sahara.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Barbecue&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="barbecue" class="round-checkbox" type="checkbox" name="barbecue"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <br>
            <!-- Treci red -->
            <div class="pocetakReda row"
              *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <!-- Extra kari sos -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/SaharaSosJPG.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Kari sos&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="kari" class="round-checkbox" type="checkbox" name="kari"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Extra kecap -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/NinjaBlend.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Kecap&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="kecap" class="round-checkbox" type="checkbox" name="kecap"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra majonez -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/Sos/Majonez.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Majonez&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="majonez" class="round-checkbox" type="checkbox" name="majonez"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br><br><br>

            <!-- Extra dodaci -->
            <div class="statickiTekstDiv" *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <div class="statickiTekst">Extra dodaci</div>
              <div class="statickiTekstLinija"></div>
            </div>
            <br><br><br>
            <!-- Prvi red -->
            <div class="pocetakReda row"
              *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <!-- Extra dodatak tost sir -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/TostSir.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Tost sir&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="tostSir" class="round-checkbox" type="checkbox" name="tostSir"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Extra dodatak cedar -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/Cedar.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Cedar&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="cedar" class="round-checkbox" type="checkbox" name="cedar"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra dodatak gauda -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/Gauda.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Gauda&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="gauda" class="round-checkbox" type="checkbox" name="gauda"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <!-- Drugi red -->
            <div class="pocetakReda row"
              *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <!-- Extra dodatak zdenka  -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/Zdenka.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Zdenka&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="zdenka" class="round-checkbox" type="checkbox" name="zdenka"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Extra dodatak gorgonzola -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/Gorgonzola.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Gorgonzola&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="gorgonzola" class="round-checkbox" type="checkbox" name="gorgonzola"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra dodatak slanina -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/Slanina.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Slanina&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="slanina" class="round-checkbox" type="checkbox" name="slanina"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <!-- treci red -->
            <div class="pocetakReda row"
              *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <!-- Extra dodatak jalapeno -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/TostSir.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Jalapeno&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="jalapeno" class="round-checkbox" type="checkbox" name="jalapeno"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
              <!-- Extra dodatak sampinjoni -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/Sampinjoni.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Sampinjoni&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="sampinjoni" class="round-checkbox" type="checkbox" name="sampinjoni"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Extra dodatak hrskavi luk -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/HrskaviLuk.png');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Hrskavi luk&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="hrskaviLuk" class="round-checkbox" type="checkbox" name="hrskaviLuk"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
            <!-- cetrvrti red ekstra dodaci -->
            <div class="pocetakReda row"
              *ngIf="productInfo.categoryType != 2 && productInfo.categoryType != 1">
              <!-- Extra dodatak guacamole -->
              <div class="colStyle">
                <div class="sosImg" style="background-image: url('assets/ekstraDodaci/guac.jfif');"></div>
                <div class="colInfo">
                  <div class="colInfoStyle">
                    <div class="colInfoNaziv">
                      Guacamole&nbsp;&nbsp;<span class="spanStyle">+80 DIN</span></div>
                    <div class="colInfoAction">
                      <input [(ngModel)]="guacamole" class="round-checkbox" type="checkbox" name="guacamole"
                        (change)="calculateSubtotal()">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Kraj cetvrtog reda extra dodaci -->
            <!-- Kraj ekstra dodaci -->
            <br><br><br><br>
            <!-- Posebni zahtevi, brojac i dugme poruci -->
            <div class="container">
              <div class="posebanZahtevTitle">Posebni zahtevi</div>
              <textarea rows="7" cols="150" [(ngModel)]="posebanZahtev" name="posebanZahtev"></textarea>
              <div class="poruciGlavniDiv">
                <div class="ukupnoIKolicinaDiv">
                  <label class="card-text">
                    <strong class="poruciTextStyle">Ukupno: </strong>
                    <label id="subtotal" class="poruciTextStyle">{{calculateSubtotal()}} Din</label>
                  </label>
                  <label class="card-text kolicinaLabel">
                    <strong class="poruciTextStyle">Kolicina: </strong>
                    <button type="button" class="decrementerIncrementer" (click)="decrementCount()">-</button>
                    <input [(ngModel)]="count" (change)="validateCount()" type="number" name="count" required min="1"
                      max="5" readonly>
                    <button type="button" class="decrementerIncrementer" (click)="incrementCount()">+</button>
                  </label>
                </div>
                <div class="poruciDugmeDiv">
                  <button type="submit" [disabled]="!form.form.valid || checkMeat()"
                    *ngIf="productInfo?.productStatus == 0; else offBlock"
                    class="btn btn-primary btn-lg poruciBtn">Dodaj u korpu</button>
                  <div *ngIf="checkMeat()" class="mesoError">
                    *Odaberi meso</div>
                </div>
              </div>
            </div>
            <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>