<img class="glavnaSlika" src="assets\PropImage2.jpg" />


<br class="hide-on-mobile">
<br class="hide-on-mobile">
<br class="hide-on-mobile">
<br class="hide-on-mobile">
<br class="hide-on-mobile">
<br class="hide-on-mobile">


<div class="row">
    <div class="col-md-6"><img class="imgK" src="assets\kontakt.png" /></div>
    <div class="col-md-6">
        <div class="glavniDiv" style="gap: 16px">
            <div class="kontaktDiv">Kontaktirajte nas</div>
            <div class="linija"></div>
            <div class="kontaktTekst">
                Slobodno nas kontaktirajte putem telefona<br> ili e-maila ako imate bilo kakva pitanja,<br> rezervacije
                ili posebne zahteve. <br /><br />Radujemo se vašem dolasku i<br> pružanju izvanrednog iskustva u Le
                Tacos-u!</div>
        </div>
        <div class="tekstHeading">Kontakt:</div><br>
        <div class="glavniDiv" style="gap: 10px">
            <div class="tekst">Adresa: Braće Ribnikara 7, Novi Sad,<br> Srbija, 21000</div>
            <div class="tekst">Telefon: 064 906 90 60</div>
            <div class="tekst">E-mail: [E - mail]</div><br>
        </div>
        <div class="tekstHeading">Radno vreme: </div><br>
        <div class="glavniDiv" style="gap: 10px">
            <div class="tekst">Ponedeljak - Petak: Radno vreme</div>
            <div class="tekst">Ponedeljak - Petak: Radno vreme</div>
            <div class="tekst">Nedelja: Radno vreme</div>
        </div>
    </div>
</div>







<br><br><br><br><br>