.btn-primary {
    color: #fc5d01;
    background-color: #FFF0E1;
    border-color: #FFF0E1;
    font-weight: bold;
}

.formDiv {
    width:30%;
    margin: 25px auto;
}

@media (max-width: 767px) {
    
     .formDiv {
       width: 90%;
       margin: auto;
     }
 }