<style>
  
</style>

<img style="width: 100%; height: 100%" src= "assets\PropImage.jpg"/>


<!-- prvi red -->
<div class="row glavniDiv1">
  <div class="col-md-6 div1col1">
      <div class="div1col1Text">
          <div class="div1col1Heading">O nama </div>
          <div class="div1col1Linija"></div>
          <div class="div1col1Paragraf">Naša strast prema francuskim takosima prevazilazi granice tanjira. Le Tacos je ponosan što je deo cvetajuće scene francuskih takosa i zato smo posvećeni očuvanju njihove autentičnosti, pružajući istovremeno jedinstveno i užitno iskustvo u našem restoranu Le Tacos u Novom Sadu.  <br/><br/>Osnivači Le Tacosa imaju duboku vezu sa poreklom francuskih takosa jer kako kažu ‘dok smo živeli u Francuskoj, živeli smo na french takosima’. <br/><br/>Crpeći inspiraciju iz svojih ličnih iskustava i ljubavi prema francuskoj kuhinji, Le Tacos je posvećen posluživanju francuskih takosa pripremljenih po originalnom receptu, obezbeđujući autentično i užitno kulinarsko iskustvo za naše dragocene goste.<br/></div>
      </div>
  </div>
  <div class="col-md-6">
    <img class="imgDiv1" src="assets\oNama1.png" >
  </div>  
</div>
<!-- Kraj prvog reda -->




<!-- Drugi red -->
<div class="glanviDiv2">
  <div class="div2Tekst">
      <div class="div2TextHeading">Kakav utisak su ostavili naši French Tacosi</div>
      <div class="div2TextLinija"></div>
      <div class="div2TextParagraf">Otkrijte zašto naši gosti ne mogu prestati da hvale neodoljiv ukus<br/>koji donose naši french tacosi. </div>
  </div>
  <div class="div2kartice">
      <div class="div2Kartica1">
          <div class="div2KarticaNavodnici"><img src="assets\navodnici.png" alt=""></div>
          <div class="div2KarticaTekst">"Potpuno sam oduševljena sočnim ukusima i obilnim porcijama u Le Tacosu. Plus konačno nešto novo u odabiru brze hrane u našem gradu. French tacosi su pravo osveženje!" </div>
          <div class="div2KarticaIme">Ana Kostić</div>
      </div>
      <div class="div2Kartica2">
          <div class="div2KarticaNavodnici"><img src="assets\navodnici.png" alt=""></div>
          <div class="div2KarticaTekst">"Nakon što sam su mi se french tacosi svideli još kad sam bio u Parizu, mogu sa sigurnošću reći da je jedinstvena kombinacija sastojaka i eksplozija ukusa u Le Tacosu poprilično verodostojna onoj koju sam probao u Francuskoj. Pravi užitak za nepce!"</div>
          <div class="div2KarticaIme" >Aleksandar Malin</div>
      </div>
      <div class="div2Kartica3">
          <div class="div2KarticaNavodnici"><img src="assets\navodnici.png" alt=""></div>
          <div class="div2KarticaTekst">"Kada god poželim zadovoljavajući i ukusan obrok, French Tacosi su moj izbor. Pažnja posvećena detaljima i kvalitet sastojaka čine da mi je nekad za ceo dan samo taj obrok i potreban."</div>
          <div class="div2KarticaIme">Sara Larin</div>
      </div>
  </div>

  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">

</div>
<!-- Kraj drugog reda -->










<!-- Pocetak treceg reda -->


<div class="row glavniDiv3">
  <div class="col-md-6">
    <img class="imgK" src="assets\oNama2.png" />
  </div>  
  <div class="col-md-6 div3col2">
      <div class="div3col2Text">
          <div class="div3col2h1">Doživite autentičnost Posetite Le Tacos danas!</div>
          <div class="div3col2Linija"></div>
          <div class="div3col2Paragraf">Otkrijte pravi ukus francuskih takosa u Le Tacos-u i uronite u kulinarsko iskustvo kao nijedno drugo.<br/><br/>Posetite Le Tacos danas i uživajte u obilju autentičnih ukusa koji donose french tacosi. Istražite naš meni, uživajte u našem toplom gostoprimstvu i postanite deo revolucije francuskog ukusa. <br/><br/>Bon appétit!<br/></div>
          <a routerLink="/product">
            <button type="button" class="btn">Poruči</button>
          </a>
      </div>
  </div>
</div>








