<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
</style>

<img style="width: 100%; height: 100%" src= "assets\PropImage.jpg"/>



<div style="width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <div style="width: 972px; align-self: stretch; padding-left: 220px; padding-right: 220px; padding-top: 128px; padding-bottom: 128px; background: white; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="color: #262626; font-size: 48px; font-family: Arvo; font-weight: 700; line-height: 72px; word-wrap: break-word">O nama </div>
          <div style="width: 90px; height: 6px; background: #ED6F24"></div>
          <div style="width: 532px; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word">Naša strast prema francuskim takosima prevazilazi granice tanjira. Le Tacos je ponosan što je deo cvetajuće scene francuskih takosa i zato smo posvećeni očuvanju njihove autentičnosti, pružajući istovremeno jedinstveno i užitno iskustvo u našem restoranu Le Tacos u Novom Sadu.  <br/><br/>Osnivači Le Tacosa imaju duboku vezu sa poreklom francuskih takosa jer kako kažu ‘dok smo živeli u Francuskoj, živeli smo na french takosima’. <br/><br/>Crpeći inspiraciju iz svojih ličnih iskustava i ljubavi prema francuskoj kuhinji, Le Tacos je posvećen posluživanju francuskih takosa pripremljenih po originalnom receptu, obezbeđujući autentično i užitno kulinarsko iskustvo za naše dragocene goste.<br/></div>
      </div>
  </div>
  <img style="width: 948px; height: 846px; position: relative; background: linear-gradient(0deg, #FBFBFB 0%, #FBFBFB 100%), linear-gradient(0deg, #ED6F24 0%, #ED6F24 100%)" src="assets\oNama1.png" />
</div>

<div style="width: 100%; height: 100%; padding-left: 220px; padding-right: 220px; padding-top: 128px; padding-bottom: 128px; background: #ED6F24; flex-direction: column; justify-content: center; align-items: flex-start; gap: 64px; display: inline-flex">
  <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
      <div style="text-align: center; color: white; font-size: 48px; font-family: Arvo; font-weight: 700; line-height: 72px; word-wrap: break-word">Kakav utisak su ostavili naši French Tacosi</div>
      <div style="width: 90px; height: 6px; background: white"></div>
      <div style="width: 602.79px; color: #FFF0E1; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word">Otkrijte zašto naši gosti ne mogu prestati da hvale neodoljiv ukus<br/>koji donose naši french tacosi. </div>
  </div>
  <div style="width: 1480px; position: relative">
      <div style="width: 477px; height: 421px; padding-left: 32px; padding-right: 32px; padding-top: 56px; padding-bottom: 56px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 54px; display: inline-flex">
          <div style="width: 56px; height: 49px; "><img src="assets\navodnici.png" alt=""></div>
          <div style="align-self: stretch; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word">"Potpuno sam oduševljena sočnim ukusima i obilnim porcijama u Le Tacosu. Plus konačno nešto novo u odabiru brze hrane u našem gradu. French tacosi su pravo osveženje!" </div>
          <div style="text-align: center; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 24px; word-wrap: break-word">Ana Kostić</div>
      </div>
      <div style="width: 477px; height: 485px; padding-left: 32px; padding-right: 32px; padding-top: 56px; padding-bottom: 56px; left: 501.50px; top: 0px; position: absolute; background: white; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 54px; display: inline-flex">
          <div style="width: 56px; height: 49px; "><img src="assets\navodnici.png" alt=""></div>
          <div style="align-self: stretch; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word">"Nakon što sam su mi se french tacosi svideli još kad sam bio u Parizu, mogu sa sigurnošću reći da je jedinstvena kombinacija sastojaka i eksplozija ukusa u Le Tacosu poprilično verodostojna onoj koju sam probao u Francuskoj. Pravi užitak za nepce!"</div>
          <div style="text-align: center; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 24px; word-wrap: break-word">Aleksandar Malin</div>
      </div>
      <div style="width: 477px; height: 421px; padding-left: 32px; padding-right: 32px; padding-top: 56px; padding-bottom: 56px; left: 1003px; top: 0px; position: absolute; background: white; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 54px; display: inline-flex">
          <div style="width: 56px; height: 49px; "><img src="assets\navodnici.png" alt=""></div>
          <div style="align-self: stretch; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word">"Kada god poželim zadovoljavajući i ukusan obrok, French Tacosi su moj izbor. Pažnja posvećena detaljima i kvalitet sastojaka čine da mi je nekad za ceo dan samo taj obrok i potreban."</div>
          <div style="text-align: center; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 24px; word-wrap: break-word">Sara Larin</div>
      </div>
  </div>

<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

</div>

<div style="width: 100%; height: 100%; justify-content: flex-start; align-items: flex-start; display: inline-flex">
  <img style="width: 948px; height: 862px; position: relative; background: linear-gradient(0deg, #FBFBFB 0%, #FBFBFB 100%)" src="assets\oNama2.png" />
  <div style="width: 972px; align-self: stretch; padding-left: 220px; padding-right: 220px; padding-top: 128px; padding-bottom: 128px; background: white; flex-direction: column; justify-content: center; align-items: flex-start; gap: 32px; display: inline-flex">
      <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
          <div style="align-self: stretch; color: #262626; font-size: 48px; font-family: Arvo; font-weight: 700; line-height: 72px; word-wrap: break-word">Doživite autentičnost Posetite Le Tacos danas!</div>
          <div style="width: 90px; height: 6px; background: #ED6F24"></div>
          <div style="width: 532px; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word">Otkrijte pravi ukus francuskih takosa u Le Tacos-u i uronite u kulinarsko iskustvo kao nijedno drugo.<br/><br/>Posetite Le Tacos danas i uživajte u obilju autentičnih ukusa koji donose french tacosi. Istražite naš meni, uživajte u našem toplom gostoprimstvu i postanite deo revolucije francuskog ukusa. <br/><br/>Bon appétit!<br/></div>
          <a routerLink="/product" style="text-decoration: none;">
            <button type="button" class="btn" style="background-color: #FFF0E1; color: #ED6F24; border: none; padding: 10px 20px; cursor: pointer;">Poruči</button>
          </a>
      </div>
  </div>
</div>



