<br>
<div
    class="heading">
    Vaša porudžbina</div>
<br>




<br><br>
<div *ngIf="isTableLayout">
<div class="container table-responsive" style="margin-top: 2%;" *ngIf="productInOrders?.length > 0; else empty">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Proizvod</th>
                <th scope="col">Dodaci</th>
                <th scope="col">Cena</th>
                <th scope="col">Kolicina</th>
                <th scope="col" style="color: white;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let productInOrder of productInOrders">
                <td>
                    <img src="{{productInOrder.productIcon}}" alt="Product Image" style="max-width: 100px;">
                    {{productInOrder.productName}}
                </td>
                <td>
                    <ul class="list-group list-group-flush">
                        <!-- Product details here -->
                        <!-- meso -->
                        <li class="list-group-item" *ngIf="productInOrder.mariniranaPiletina>0">Marinirana piletina
                            <span
                                *ngIf="productInOrder.mariniranaPiletina>1">{{productInOrder.mariniranaPiletina}}</span>
                        </li>
                        <li class="list-group-item" *ngIf="productInOrder.mlevenaJunetina>0">Mlevena junetina <span
                                *ngIf="productInOrder.mlevenaJunetina>1"></span>{{productInOrder.mlevenaJunetina}}</li>
                        <li class="list-group-item" *ngIf="productInOrder.rostiljKobasica>0">Rostilj kobasica <span
                                *ngIf="productInOrder.rostiljKobasica>1"></span>{{productInOrder.rostiljKobasica}}</li>
                        <li class="list-group-item" *ngIf="productInOrder.chickenNugets>0">Chicken nuggets <span
                                *ngIf="productInOrder.chickenNugets>1"></span>{{productInOrder.chickenNugets}}</li>
                        <li class="list-group-item" *ngIf="productInOrder.cordonBleu>0">Cordon bleu <span
                                *ngIf="productInOrder.cordonBleu1"></span>{{productInOrder.cordonBleu}}</li>
                        <li class="list-group-item" *ngIf="productInOrder.falafel>0">Falafel <span
                                *ngIf="productInOrder.falafel>1"></span>{{productInOrder.falafel}}</li>
                        <!-- Besplatni sos -->
                        <li class="list-group-item" *ngIf="productInOrder.besplatniSos.length>0">Besplatni sos:
                            {{productInOrder.besplatniSos}}</li>
                        <!-- Extra sos -->
                        <li class="list-group-item" *ngIf="productInOrder.kecap==true">Extra sos: Kecap(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.majonez==true">Extra sos: Majonez(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.sahara==true">Extra sos: Sahara(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.seville==true">Extra sos: Seville(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.texasBbq==true">Extra sos: Texax
                            Barbecue(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.ninjaBlend==true">Extra sos: Ninja
                            blend(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.kari==true">Extra sos: Kari(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.siracha==true">Extra sos: Siracha(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.barbecue==true">Extra sos: Barbecue(+80din)
                        </li>


                        <!-- Extra dodaci -->
                        <li class="list-group-item" *ngIf="productInOrder.tostSir==true">Extra dodatak: Tost
                            sir(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.cedar==true">Extra dodatak: Cedar(+80din)
                        </li>
                        <li class="list-group-item" *ngIf="productInOrder.gauda==true">Extra dodatak: Gauda(+80din)
                        </li>
                        <li class="list-group-item" *ngIf="productInOrder.zdenka==true">Extra dodatak: Zdenka(+80din)
                        </li>
                        <li class="list-group-item" *ngIf="productInOrder.gorgonzola==true">Extra dodatak:
                            Gorgonzola(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.slanina==true">Extra dodatak: Slanina(+80din)
                        </li>
                        <li class="list-group-item" *ngIf="productInOrder.jalapeno==true">Extra dodatak:
                            Jalapeno(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.hrskaviLuk==true">Extra dodatak: Hrskavi
                            luk(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.sampinjoni==true">Extra dodatak:
                            Sampinjoni(+80din)</li>
                        <li class="list-group-item" *ngIf="productInOrder.guacamole==true">Extra dodatak:
                            Guacamole(+80din)</li>
                        <!-- Add other extra dodaci items similarly -->

                        <!-- Poseban zahtev -->
                        <li *ngIf="productInOrder.posebanZahtev.length > 0" class="list-group-item">Poseban zahtev:
                            {{productInOrder.posebanZahtev}}</li>
                    </ul>
                </td>
                <td>{{productInOrder.subTotal}} <br></td>
                <td>{{productInOrder.count}} <br></td>
                <td>
                    <a (click)="remove(productInOrder)" routerLink="./"><i class="fas fa-trash-alt fa-lg"
                            style="color: #ED6F24;"></i></a><br>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="productInOrders?.length > 0; else empty">
        <h5 class="float-start">Ukupno: <span style="color: #ED6F24;">{{total}} RSD</span></h5>
    </div>
    <br><br>

    <div class="glavniDiv row">
        <div class="cenaDostaveGlavni col">
            <div class="cenaDostaveDiv">
                <div class="ceneDostaveDivHead">
                    <div class="cenaDostaveDivParagraf">Cena dostave</div>
                    <div class="cenaDostaveDivLinija"></div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Podbara</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Liman 1,2,3,4</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Centar</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Stari Grad</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="naruciDiv">
                <div class="naruciDivInfo">
                    <div class="naruciDivInfoHeading">Plaćanje dostavljaču</div>
                    <div class="naruciDivInfoLinija"></div>
                </div>
                <div class="narucDivParagraf">Potvrda porudžbine i vreme dostave se šalje putem e-maila.   Cena dostave
                    zavisi od dela grada, i biće naplaćena od strane dostavljača na adresi.</div>
                <button (click)="checkout()" class="naruciDivButton">
                    <div class="naruciDivButtonText">Poruči</div>
                </button>
            </div>
        </div>
    </div>
</div>

<ng-template #empty>
    <div class="container text-center" style="margin-bottom: 25%;">
        <h2 style="font-family: Arvo; color: black;">Korpa je prazna</h2>
    </div>
</ng-template>

</div>

<br><br><br>










<!-- Korpa za mob -->
<div *ngIf="!isTableLayout">
<div *ngIf="productInOrders?.length > 0; else empty">
<div class="row" style="margin-left: 10%;">
    <div *ngFor="let productInOrder of productInOrders" class="card" style="width: 18rem; margin-right: 5%; margin-bottom: 5%; margin-left: 5%; margin-top: 5%;">
        <img class="card-img-top" src="{{productInOrder.productIcon}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{productInOrder.productName}}</h5>
        </div>
        <ul class="list-group list-group-flush">
            
          <li class="list-group-item" *ngIf="productInOrder.mariniranaPiletina>0">Marinirana piletina <span *ngIf="productInOrder.mariniranaPiletina>1">{{productInOrder.mariniranaPiletina}}</span></li>
          <li class="list-group-item" *ngIf="productInOrder.mlevenaJunetina>0">Mlevena junetina <span *ngIf="productInOrder.mlevenaJunetina>1"></span>{{productInOrder.mlevenaJunetina}}</li>
          <li class="list-group-item" *ngIf="productInOrder.rostiljKobasica>0">Rostilj kobasica <span *ngIf="productInOrder.rostiljKobasica>1"></span>{{productInOrder.rostiljKobasica}}</li>
          <li class="list-group-item" *ngIf="productInOrder.chickenNugets>0">Chicken nuggets <span *ngIf="productInOrder.chickenNugets>1"></span>{{productInOrder.chickenNugets}}</li>
          <li class="list-group-item" *ngIf="productInOrder.cordonBleu>0">Cordon bleu <span *ngIf="productInOrder.cordonBleu1"></span>{{productInOrder.cordonBleu}}</li>
          <li class="list-group-item" *ngIf="productInOrder.falafel>0">Falafel <span *ngIf="productInOrder.falafel>1"></span>{{productInOrder.falafel}}</li>
          
          <li class="list-group-item" *ngIf="productInOrder.besplatniSos.length>0">Besplatni sos: {{productInOrder.besplatniSos}}</li>
          
          <li class="list-group-item" *ngIf="productInOrder.kecap==true">Extra sos: Kecap(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.majonez==true">Extra sos: Majonez(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.sahara==true">Extra sos: Sahara(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.seville==true">Extra sos: Seville(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.texasBbq==true">Extra sos: Texax Barbecue(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.ninjaBlend==true">Extra sos: Ninja blend(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.kari==true">Extra sos: Kari(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.siracha==true">Extra sos: Siracha(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.barbecue==true">Extra sos: Barbecue(+80din)</li>
          
          <li class="list-group-item" *ngIf="productInOrder.tostSir==true">Extra dodatak: Tost sir(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.cedar==true">Extra dodatak: Cedar(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.gauda==true">Extra dodatak: Gauda(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.zdenka==true">Extra dodatak: Zdenka(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.gorgonzola==true">Extra dodatak: Gorgonzola(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.slanina==true">Extra dodatak: Slanina(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.jalapeno==true">Extra dodatak: Jalapeno(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.hrskaviLuk==true">Extra dodatak: Hrskavi luk(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.sampinjoni==true">Extra dodatak: Sampinjoni(+80din)</li>
          <li class="list-group-item" *ngIf="productInOrder.guacamole==true">Extra dodatak: Guacamole(+80din)</li>
          
          <li class="list-group-item" *ngIf="productInOrder.posebanZahtev.length>0">Poseban zahtev: {{productInOrder.posebanZahtev}}</li>
    
        </ul>
        <div class="card-body">
            <p class="card-text">Cena: {{productInOrder.subTotal}}</p>
            <p class="card-text">Kolicina: {{productInOrder.count}}</p>
            <a (click)="remove(productInOrder)" routerLink="./"><i class="fas fa-trash-alt fa-lg" style="color: #ED6F24;"></i></a>            
        </div>
      </div>
    </div>

    <br>
    <div style="margin-left: 5%;" *ngIf="productInOrders?.length > 0; else empty">
        <h5 class="float-start">Ukupno: <span style="color: #ED6F24;">{{total}} RSD</span></h5>
    </div>
    <br><br>

    <div class="glavniDiv row">
        <div class="cenaDostaveGlavni col-md-6">
            <div class="cenaDostaveDiv">
                <div class="ceneDostaveDivHead">
                    <div class="cenaDostaveDivParagraf">Cena dostave</div>
                    <div class="cenaDostaveDivLinija"></div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Podbara</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Liman 1,2,3,4</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Centar</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
                <div class="cenaDostaveNaselje">
                    <div class="cenaDostaveNaseljeIme">Stari Grad</div>
                    <div class="cenaDostaveNaseljeCena">+300 rsd</div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="naruciDiv">
                <div class="naruciDivInfo">
                    <div class="naruciDivInfoHeading">Plaćanje dostavljaču</div>
                    <div class="naruciDivInfoLinija"></div>
                </div>
                <div class="narucDivParagraf">Potvrda porudžbine i vreme dostave se šalje putem e-maila.   Cena dostave
                    zavisi od dela grada, i biće naplaćena od strane dostavljača na adresi.</div>
                <button (click)="checkout()" class="naruciDivButton">
                    <div class="naruciDivButtonText">Poruči</div>
                </button>
            </div>
        </div>
    </div>


</div>
<ng-template #empty>
    <div class="container" style="height: 100%; width: 100%; margin-bottom: 25%;">
        <br><br><br><br><br>
    <h2 class="text-center" style="font-family: Arvo; color: black;">Korpa je prazna</h2>
    </div>
</ng-template>
</div>