<div class="afterHoursComponent">
 <div class="glavniDiv">
  <div class="prviTekstDiv">
    <div class="neRadimo">Trenutno ne radimo</div>
    <div class="molimo">Molimo Vas pokušajte ponovo u toku radnog vremena</div>
  </div>
  <div class="sat">
    <img src="assets/Clock.svg" alt="Cart Icon"/>
  </div>
  <div class="drugiDiv">
    <div class="radnoVremeTekst">Radno vreme:</div>
    <div class="radnoVremeDiv">
      <div class="ponPetGlavniDiv">
        <div class="karticaDiv">
          <div class="satiIDani">08-20h</div>
          <div class="satiIDani">PON-PET</div>
        </div>
      </div>
      <div class="subNed">
        <div class="karticaDiv">
          <div class="satiIDani">08-20h</div>
          <div class="satiIDani">SUB</div>
        </div>
      </div>
      <div class="subNed">
        <div class="karticaDiv">
          <div class="satiIDani">08-20h</div>
          <div class="satiIDani">NED</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

 