<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
</style>

<div  style="width: 100%; height: 100%; background: rgba(255, 255, 255, 0.01); backdrop-filter: blur(30px)">
<div  style="width: 100%; height: 100%; padding-left: 32px; padding-right: 32px; padding-top: 56px; padding-bottom: 56px; background: white; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: inline-flex">
  <div style="flex-direction: column; justify-content: center; align-items: center; gap: 24px; display: flex">
      <div style="text-align: center; color: #ED6F24; font-size: 32px; font-family: Arvo; font-weight: 700; line-height: 48px; word-wrap: break-word">Trenutno ne radimo</div>
      <div style="text-align: center; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 32px; word-wrap: break-word">Molimo Vas pokušajte ponovo u toku radnog vremena</div>
  </div>
  <div style="width: 64px; height: 64px; position: relative;text-align: center; color: #ed6f24; font-size: 64px; font-family: Font Awesome 5 Brands; font-weight: 400; word-wrap: break-word">
    <i class="far fa-clock fa-2xl"></i>
  </div>
  <div style="flex-direction: column; justify-content: center; align-items: center; gap: 12px; display: flex">
      <div style="text-align: center; color: #575757; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 24px; word-wrap: break-word">Radno vreme:</div>
      <div style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background: #FFF0E1; border-radius: 6px; border: 0.50px #ED6F24 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
          <div style="justify-content: center; align-items: center; gap: 24px; display: inline-flex">
              <div style="text-align: center; color: #ED6F24; font-size: 20px; font-family: Arvo; font-weight: 700; line-height: 30px; word-wrap: break-word">08-20h</div>
              <div style="text-align: center; color: #ED6F24; font-size: 20px; font-family: Arvo; font-weight: 700; line-height: 30px; word-wrap: break-word">PON-NED</div>
          </div>
      </div>
  </div>
</div>
</div>
<br><br><br><br><br><br><br>


 

