<!--  Pocetana slika -->
<div class="pocetniGlavniDiv">
  <img src="assets\card1.png" alt="" class="pocetnaImg">
  <div class="pocetnaTransform">
    <div class="pocetnaHeading">Originalni<br> Francuski Tacosi,<br />Novi Sad</div>
    <div class="pocetnaParagraf hide-on-mobile">Otkrijte neodoljivu rapsodiju ukusa koju pružaju naši French Tacosi:
      sočno<br> meso pripremljeno na francuski način, obavijeno u mekanu tortilju i<br> prelivano aromatičnim sosovima.
      Utolite svojim čulima jednim obrokom i<br> istražite vrhunsko gastronomsko iskustvo koje nudimo u samom srcu<br>
      Novog Sada.</div>
  </div>
</div>


<br>
<br class="hide-on-mobile">
<br class="hide-on-mobile">
<br class="hide-on-mobile">
<br class="hide-on-mobile">

<!-- Takosi uvodni tekst -->

<div class="uvodniTextTakosiDiv" id="order-section">
  <div class="uvodniTextTakosiHeading">French tacosi - uvek sveži, uvek sočni, uvek siti.</div>
  <div class="uvodniTextTakosiLinija"></div>
  <div class="uvodniTextTakosParagraf">Zadovoljite svoju glad i otkrijte neograničene mogućnosti koje pružaju naši
    French Tacosi spremani na originalan francuski način. </div>
</div>

<br><br><br>
<!-- Takos -->
<div class="row card-deck text-center cardGlavniDiv">
  <div *ngFor="let productInfo of tako" class="col-lg-4 col-md-6 col-sm-12 mb-3 cardForPetlja">
    <div id="sel" class="cardStyle">
      <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock">
        <div class="cardImgDiv">
          <img class="cardImgStyle" [src]="productInfo.productIcon" [alt]="productInfo.productName" />
        </div>
        <div class="cardNamePriceDiv">
          <div class="cardNamePriceDivStyle">
            <h4 class="card-title cardNameStyle">{{productInfo.productName}}</h4>
          </div>
          <div>
            <p class="card-text cardPriceStyle"> {{productInfo.productPrice}} DIN</p>
          </div>

        </div>
        <div *ngIf="productInfo.productId == 'T0001'"><span class="cardTacoSpan1">1 vrsta mesa</span><span
            class="cardTacoSpan2">, </span><span class="cardTacoSpan3">1 sos, unikatni sos od sira, pomfrit</span></div>
        <div *ngIf="productInfo.productId == 'T0002'"><span class="cardTacoSpan1">2 vrste mesa</span><span
            class="cardTacoSpan2">, </span><span class="cardTacoSpan3">1 sos, unikatni sos od sira, pomfrit</span></div>
        <div *ngIf="productInfo.productId == 'T0003'"><span class="cardTacoSpan1">3 vrste mesa</span><span
            class="cardTacoSpan2">, </span><span class="cardTacoSpan3">1 sos, unikatni sos od sira, pomfrit</span></div>
      </a>
      <ng-template #offBlock>
        <div class="disabled-card offBlockGlavniDiv">
          <div class="offBlockDivStyle">
            <div class="offBlockTekst">Unavailable</div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<br><br><br>

<!-- uvodni tekst Finger food -->
<div class="tekstFingerDiv">
  <div class="tekstFingerHeading">Finger food</div>
  <div class="tekstFingerLinija"></div>
  <div class="tekstFingerParagraf">Zadovoljite svoje žudnje našom neodoljivom ponudom finger food-a!</div>
</div>
<br><br><br>

<!-- finger foods -->
<div class="row card-deck text-center cardGlavniDiv">
  <div *ngFor="let productInfo of fingerFood" class="col-lg-4 col-md-6 col-sm-12 mb-3 cardForPetlja">
    <div id="sel" class="cardStyle">
      <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock">
        <div class="cardImgDiv">
          <img class="cardImgStyle" [src]="productInfo.productIcon" [alt]="productInfo.productName" />
        </div>
        <div class="cardNamePriceDiv">
          <div class="cardNamePriceDivStyle">
            <h4 class="card-title cardNameStyle">{{productInfo.productName}}</h4>
          </div>
          <div>
            <h3 class="card-text cardPriceStyle"> {{productInfo.productPrice}} DIN</h3>
          </div>
        </div>
      </a>
      <ng-template #offBlock>
        <div class="disabled-card offBlockGlavniDiv">
          <div class="offBlockDivStyle">
            <div class="offBlockTekst">Unavailable</div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<br><br><br><br>


<!-- uvodni tekst za pice -->
<div class="tekstPiceDiv">
  <div class="tekstPiceHeading">Piće</div>
  <div class="tekstPiceLinija"></div>
  <div class="tekstPiceParagraf">Urkotite žeđ sa osvežavajućim pićem, savršeno uz tacos.</div>
</div>
<br><br><br><br>

<!-- Pice -->
<div class="row card-deck text-center cardGlavniDiv">
  <div *ngFor="let productInfo of pice" class="col-lg-4 col-md-6 col-sm-12 mb-3 cardForPetlja">
    <div id="sel" class="cardStyle">
      <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock">
        <div class="cardImgDiv">
          <img class="cardImgStyle" [src]="productInfo.productIcon" [alt]="productInfo.productName" />
        </div>
        <div class="cardNamePriceDiv">
          <div class="cardNamePriceDivStyle">
            <h4 class="card-title cardNameStyle">{{productInfo.productName}}</h4>
          </div>
          <div>
            <p class="card-text cardPriceStyle"> {{productInfo.productPrice}} DIN</p>
          </div>
        </div>
      </a>
      <ng-template #offBlock>
        <div class="disabled-card offBlockGlavniDiv">
          <div class="offBlockDivStyle">
            <div class="offBlockTekst">Unavailable</div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
<br><br><br><br><br>

<!-- Staticki tekst -->
<!-- Utisci -->
<div class="utisciGlavniDiv">
  <div class="utisciTekst">
    <div class="utisciTekstHeading">Kakav utisak su ostavili naši French Tacosi</div>
    <div class="utisciTekstLinija"></div>
    <div class="utisciTekstParagraf">Otkrijte zašto naši gosti ne mogu prestati da hvale neodoljiv ukus<br />koji donose
      naši french tacosi. </div>
  </div>
  <div class="utisciKartice">
    <div class="utisciKartica1">
      <div class="utisciKarticaNavodnici"><img src="assets\navodnici.png" alt=""></div>
      <div class="utisciKarticaTekst">"Potpuno sam oduševljena sočnim ukusima i obilnim porcijama u Le Tacosu. Plus
        konačno nešto novo u odabiru brze hrane u našem gradu. French tacosi su pravo osveženje!" </div>
      <div class="utisciKarticaIme">Ana Kostić</div>
    </div>
    <div class="utisciKartica2">
      <div class="utisciKarticaNavodnici"><img src="assets\navodnici.png" alt=""></div>
      <div class="div2KarticaTekst">"Nakon što sam su mi se french tacosi svideli još kad sam bio u Parizu, mogu sa
        sigurnošću reći da je jedinstvena kombinacija sastojaka i eksplozija ukusa u Le Tacosu poprilično verodostojna
        onoj koju sam probao u Francuskoj. Pravi užitak za nepce!"</div>
      <div class="utisciKarticaIme">Aleksandar Malin</div>
    </div>
    <div class="utisciKartica3">
      <div class="utisciKarticaNavodnici"><img src="assets\navodnici.png" alt=""></div>
      <div class="utisciKarticaTekst">"Kada god poželim zadovoljavajući i ukusan obrok, French Tacosi su moj izbor.
        Pažnja posvećena detaljima i kvalitet sastojaka čine da mi je nekad za ceo dan samo taj obrok i potreban."</div>
      <div class="utisciKarticaIme">Sara Larin</div>
    </div>
  </div>

  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">
  <br class="hide-on-mobile">

</div>


<!-- O nama -->
<div class="oNamaGlavniDiv row">
  <div class="oNamaDrugiDiv col-md-6">
    <div class="oNamaTekst">
      <div class="oNamaHeading">Otkud french tacosi u Novom Sadu? </div>
      <div class="oNamaLinija"></div>
      <div class="oNamaParagraf">Poreklom iz Francuske, French Tacosi su pronašli svoj dom ovde u restoranu Le Tacos u
        ulici Braće Ribnikara u Novom Sadu. Inspirisani bogatom kulinarskom tradicijom Francuske, odlučili smo da i vi
        uživate u pravom duhu ovog voljenog francuskog specijaliteta u Novom Sadu. Vaše zadovoljstvo je naša najveća
        motivacija i ponosimo se pružanjem svetskog gastronomskog iskustva koje odražava duh i inspiraciju Le
        Tacosa..<br /></div>
      <a routerLink="/oNama" class="oNamaAncor">
        <button type="button" class="btn oNamaBtn">O nama</button>
      </a>
    </div>
  </div>
  <div class="col-md-6">
    <img class="oNamaImg" src="assets\oNama1.png" />
  </div>
</div>



<!-- Poruci div -->
<div class="poruciGlavniDiv">
  <div class="poruciDrugiDiv">
    <div class="poruciHeading">French Tacosi na klik od tebe</div>
    <div class="poruciLinija"></div>
    <div class="poruciParagraf">Donesi ukus Francuske u udobnost svog doma.</div>
  </div>
  <a (click)="scrollToSection()" class="poruciLink">
    <button type="button" class="btn poruciBtn">Poruči</button>
  </a>
</div>