
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  </style>

<!-- 
<div class="footer" style="width: 100%; height: 100%; position: relative">
  <div style="width: 1920px; height: 440px; left: 0px; top: 0px; position: absolute; background: #262626"></div>
  <div style="left: 220px; top: 144px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
      
      <img src="assets\brand.png" alt="">
      <div style="width: 477px; color: white; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word">Zadovoljite svoju glad i otkrijte neograničene mogućnosti koje pružaju naši French Tacosi spremani na originalan francuski način.</div>
      <div style="text-align: right; color: white; font-size: 14px; font-family: Poppins; font-weight: 400; line-height: 30px; word-wrap: break-word"><a routerLink="/politikaPrivatnosti" style="text-decoration: none; color: inherit;">Politika privatnosti</a></div>
  </div>
  
  <div style="left: 1608px; top: 207px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
      <div style="width: 30px; height: 30px;  text-align: center; color: white; font-size: 30px; font-family: Font Awesome 5 Brands; font-weight: 400; word-wrap: break-word"><a href="https://www.facebook.com/profile.php?id=100093700837982" style="text-decoration: none; color: inherit;"><i class="fab fa-facebook-f"></i></a></div>
      <div style="width: 30px; height: 30px; text-align: center; color: white; font-size: 30px; font-family: Font Awesome 5 Brands; font-weight: 400; word-wrap: break-word"><a href="https://www.instagram.com/letacosnovisad/" style="text-decoration: none; color: inherit;"><i  class="fab fa-instagram"></i></a></div>
  </div>
</div> -->

<div class="footer">
  <div class="left-content">
    <img src="assets\brand.png" alt="">
    <p>Zadovoljite svoju glad i otkrijte neograničene mogućnosti koje pružaju naši French Tacosi spremani na originalan francuski način.</p>
    <div class="links">
      <a href="/politikaPrivatnosti">Politika privatnosti</a>
    </div>
  </div>
  <div class="right-content">
    <div class="social-icons">
      <a href="https://www.facebook.com/profile.php?id=100093700837982"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/letacosnovisad/"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>

