
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  </style>


<div class="footer">
  <div class="left-content">
    <img src="assets\brand.png" alt="">
    <p>Zadovoljite svoju glad i otkrijte neograničene mogućnosti koje<br> pružaju naši French Tacosi spremani na originalan francuski način.</p>
    <div class="links">
      <a href="/politikaPrivatnosti">Politika privatnosti</a>
      <a routerLink="/login" style="color: white;">A</a>
    </div>
  </div>
  <div class="right-content">
    <div class="social-icons">
      <a href="https://www.facebook.com/profile.php?id=100093700837982"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/letacosnovisad/"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>

